
body {
    background-size:cover;
    background-image: url(https://media.istockphoto.com/vectors/preparing-vegetarian-dinner-vector-id1139274049);
}

h1{
    text-shadow: 3px 2px 2px black;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
