#jumbotron {
    margin-bottom: 0px;
}


#main_page {
    background-size:cover;
    background-color: darkgrey;
    /*background-image: url(https://media.istockphoto.com/vectors/preparing-vegetarian-dinner-vector-id1139274049);*/
}

h1{
    text-shadow: 3px 2px 2px black;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) { 
    #main_page{
        text-align: center;
        font-size: 1em;
    }
 }

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/
